In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
%matplotlib inline

In [3]:
gdp_df = pd.read_csv("../Data/gdp_percapita.csv", nrows=6868)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

In [4]:
internet_df = pd.read_csv("../Data/internet_use.csv", nrows=4495)
print(gdp_df[:7])

  Country or Area  Year        Value  Value Footnotes
0     Afghanistan  2019  2065.036398              NaN
1     Afghanistan  2018  2033.779002              NaN
2     Afghanistan  2017  2058.383832              NaN
3     Afghanistan  2016  2057.062164              NaN
4     Afghanistan  2015  2068.265904              NaN
5     Afghanistan  2014  2102.385234              NaN
6     Afghanistan  2013  2116.465454              NaN

### 7. Look at the shape of each DataFrame - how many rows? How many columns?
 There are 6869 rows and 4 columns in GDP 
 
 There are 4496 rows and 4 columns in Internet

In [5]:
gdp_df.shape
print(gdp_df[:])

     Country or Area  Year        Value  Value Footnotes
0        Afghanistan  2019  2065.036398              NaN
1        Afghanistan  2018  2033.779002              NaN
2        Afghanistan  2017  2058.383832              NaN
3        Afghanistan  2016  2057.062164              NaN
4        Afghanistan  2015  2068.265904              NaN
...              ...   ...          ...              ...
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

[6868 rows x 4 columns]

In [6]:
internet_df.shape
print(internet_df [:])

     Country or Area  Year     Value  Value Footnotes
0        Afghanistan  2014  6.390000              NaN
1        Afghanistan  2013  5.900000              NaN
2        Afghanistan  2012  5.454545              NaN
3        Afghanistan  2011  5.000000              NaN
4        Afghanistan  2010  4.000000              NaN
...              ...   ...       ...              ...
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

[4495 rows x 4 columns]

### 8. Take a look at the datatypes for the columns in each DataFrame.

In [7]:
print(gdp_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

In [8]:
print(internet_df.dtypes)

Country or Area     object
Year                 int64
Value              float64
Value Footnotes    float64
dtype: object

### 9. Take a look at the last 10 rows of each DataFrame in turn.

In [9]:
print(gdp_df[-10:])

     Country or Area  Year        Value  Value Footnotes
6858        Zimbabwe  1999  3600.849291              NaN
6859        Zimbabwe  1998  3653.920016              NaN
6860        Zimbabwe  1997  3580.048793              NaN
6861        Zimbabwe  1996  3520.430146              NaN
6862        Zimbabwe  1995  3226.413930              NaN
6863        Zimbabwe  1994  3263.934978              NaN
6864        Zimbabwe  1993  3033.504852              NaN
6865        Zimbabwe  1992  3054.889178              NaN
6866        Zimbabwe  1991  3426.598094              NaN
6867        Zimbabwe  1990  3324.348171              NaN

In [10]:
print(internet_df[-10:])

     Country or Area  Year     Value  Value Footnotes
4485        Zimbabwe  2002  3.994356              NaN
4486        Zimbabwe  2001  0.799846              NaN
4487        Zimbabwe  2000  0.401434              NaN
4488        Zimbabwe  1999  0.161676              NaN
4489        Zimbabwe  1998  0.081648              NaN
4490        Zimbabwe  1997  0.033080              NaN
4491        Zimbabwe  1996  0.016790              NaN
4492        Zimbabwe  1995  0.007684              NaN
4493        Zimbabwe  1994  0.001739              NaN
4494        Zimbabwe  1990  0.000000              NaN

### 10.Drop the value footnotes column from both DataFrames. Check that this worked as expected.

In [11]:
del gdp_df['Value Footnotes']
print(gdp_df)

     Country or Area  Year        Value
0        Afghanistan  2019  2065.036398
1        Afghanistan  2018  2033.779002
2        Afghanistan  2017  2058.383832
3        Afghanistan  2016  2057.062164
4        Afghanistan  2015  2068.265904
...              ...   ...          ...
6863        Zimbabwe  1994  3263.934978
6864        Zimbabwe  1993  3033.504852
6865        Zimbabwe  1992  3054.889178
6866        Zimbabwe  1991  3426.598094
6867        Zimbabwe  1990  3324.348171

[6868 rows x 3 columns]

In [12]:
del internet_df['Value Footnotes']
print(internet_df)

     Country or Area  Year     Value
0        Afghanistan  2014  6.390000
1        Afghanistan  2013  5.900000
2        Afghanistan  2012  5.454545
3        Afghanistan  2011  5.000000
4        Afghanistan  2010  4.000000
...              ...   ...       ...
4490        Zimbabwe  1997  0.033080
4491        Zimbabwe  1996  0.016790
4492        Zimbabwe  1995  0.007684
4493        Zimbabwe  1994  0.001739
4494        Zimbabwe  1990  0.000000

[4495 rows x 3 columns]

### 11. Change the columns for the GDP Per Capita DataFrame to ‘Country’, ‘Year’, and ‘GDP_Per_Capita’.

In [13]:
gdp_df.columns = ['Country','Year', 'GDP_Per_Capita']
print(gdp_df)

          Country  Year  GDP_Per_Capita
0     Afghanistan  2019     2065.036398
1     Afghanistan  2018     2033.779002
2     Afghanistan  2017     2058.383832
3     Afghanistan  2016     2057.062164
4     Afghanistan  2015     2068.265904
...           ...   ...             ...
6863     Zimbabwe  1994     3263.934978
6864     Zimbabwe  1993     3033.504852
6865     Zimbabwe  1992     3054.889178
6866     Zimbabwe  1991     3426.598094
6867     Zimbabwe  1990     3324.348171

[6868 rows x 3 columns]

### 12. Change the columns for the Internet Users DataFrame to ‘Country’, ‘Year’, and ‘Internet_Users_Pct’.

In [14]:
internet_df.columns = ['Country', 'Year','internet_Users_Pct']
print(internet_df)

          Country  Year  internet_Users_Pct
0     Afghanistan  2014            6.390000
1     Afghanistan  2013            5.900000
2     Afghanistan  2012            5.454545
3     Afghanistan  2011            5.000000
4     Afghanistan  2010            4.000000
...           ...   ...                 ...
4490     Zimbabwe  1997            0.033080
4491     Zimbabwe  1996            0.016790
4492     Zimbabwe  1995            0.007684
4493     Zimbabwe  1994            0.001739
4494     Zimbabwe  1990            0.000000

[4495 rows x 3 columns]

### 13. Merge the two DataFrames to one. Merge all rows from each of the two DataFrames. Call the new DataFrame gdp_and_internet_use.

In [15]:
outer_merged = pd.merge(internet_df, gdp_df, how="outer", on=["Country", "Year"])
outer_merged.head()
outer_merged.shape
print(outer_merged)

          Country  Year  internet_Users_Pct  GDP_Per_Capita
0     Afghanistan  2014            6.390000     2102.385234
1     Afghanistan  2013            5.900000     2116.465454
2     Afghanistan  2012            5.454545     2075.491747
3     Afghanistan  2011            5.000000     1904.559799
4     Afghanistan  2010            4.000000     1957.029338
...           ...   ...                 ...             ...
7900     Zimbabwe  2016                 NaN     2934.733650
7901     Zimbabwe  2015                 NaN     2958.209004
7902     Zimbabwe  1993                 NaN     3033.504852
7903     Zimbabwe  1992                 NaN     3054.889178
7904     Zimbabwe  1991                 NaN     3426.598094

[7905 rows x 4 columns]

### 14. Look at the first five rows of your new DataFrame to confirm it merged correctly.

In [16]:
print(outer_merged[5:])

          Country  Year  internet_Users_Pct  GDP_Per_Capita
5     Afghanistan  2009            3.550000     1758.904043
6     Afghanistan  2008            1.840000     1484.114729
7     Afghanistan  2007            1.900000     1460.826075
8     Afghanistan  2006            2.107124     1315.789565
9     Afghanistan  2005            1.224148     1286.793508
...           ...   ...                 ...             ...
7900     Zimbabwe  2016                 NaN     2934.733650
7901     Zimbabwe  2015                 NaN     2958.209004
7902     Zimbabwe  1993                 NaN     3033.504852
7903     Zimbabwe  1992                 NaN     3054.889178
7904     Zimbabwe  1991                 NaN     3426.598094

[7900 rows x 4 columns]

### 15. Look at the last five rows to make sure the data is clean and as expected.

In [17]:
print(outer_merged[-5:])

       Country  Year  internet_Users_Pct  GDP_Per_Capita
7900  Zimbabwe  2016                 NaN     2934.733650
7901  Zimbabwe  2015                 NaN     2958.209004
7902  Zimbabwe  1993                 NaN     3033.504852
7903  Zimbabwe  1992                 NaN     3054.889178
7904  Zimbabwe  1991                 NaN     3426.598094

### 16. Subset the combined DataFrame to keep only the data for 2004, 2009, and 2014. Check that this happened correctly.